.home {
  width: 100%;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    .card-home {
      width: 100%;
  
      @include on-tablet {
        margin: 0 10px;
        width: 40%;
      }
      @include on-desktop {
        margin: 0 10px;
        width: 40%;
      }
    }
  }
}